<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>category_list</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
                <li> <a href="{% url 'home' %}">Home</a> </li>
                <li> <a href="{% url 'logout' %}">Logout<a/> </li>
            {% else %}
                <li> <a href="{% url 'signup' %}">Signup</a> </li>
                <li> <a href="{% url 'login' %}">Login</a> </li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in category %}
                <tr>
                    <td> {{ cat.name }} </td>
                    <td> {{ cat.receipts.all|length }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
